.startGame {
    max-width: 1180px;
    height: 90vh;
    padding: 3rem 4.5rem;
    position: relative;
    margin: 0 auto;
}

.startGameWrapper {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}

.mainImg {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainImg img {
    height: auto;
    width: 100%;
    max-height: 80vh;
}



.sideTxt {
    flex: 1;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 100vh;
}

.mainTxt {
    font-size: 8rem !important;
    text-transform: capitalize;
    white-space: nowrap;
    font-weight: bolder;
    position: relative;
}

.playBtn {
    height: 50px;
    width: 130px;
    position: relative;
    top: -60px;
    right: -220px;
    color: white;
    background-color: rgb(8, 8, 8);
    transition: 0.5s ease-in-out ;
    border: none;
    font-size:1rem;
}

.playBtn:hover {
    transform: scale(1.1);
   
}


@media (max-width: 1300px) {
    .startGameWrapper {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .mainTxt {
      font-size: 8vw; /* Larger font size for smaller screens */
    }
  
    .playBtn {
      height: 45px;
      width: 110px;
    }
  }
  
  @media (max-width: 480px) {
    .mainTxt {
      font-size: 10vw; /* Even larger font size for very small screens */
    }
  
    .playBtn {
      height: 40px;
      width: 100px;
    }
  }